<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <title>contact</title>
</head>

<body>
    <div class="container-signup">
        <h2>Contact Form </h2>
        <div class="form-container">
            <form action="/contact" method="post">
                <div class="input-name">
                    <i class="fa-solid fa-user lock"></i>
                    <input type="text" placeholder=" First Name" class="name" name="firstname" autocomplete="off">
                    <span>
                        <i class="fa-solid fa-user lock"></i>
                        <input type="text" placeholder=" Last Name" class="name" name="lastname" autocomplete="off">
                    </span>
                </div>
                <div class="input-name">
                    <i class="fa-solid fa-address-book lock"></i>
                    <input type="Contact" placeholder=" Contact" class="name-a" name="contact" autocomplete="off">
                </div>
                <div class="input-name">
                    <i class="fa-solid fa-envelope lock"></i>
                    <input type="email" placeholder=" Email" class="name-a" name="email" autocomplete="off">
                </div>
                <div class="input-name">
                    <i class="fa-solid fa-message-text"></i>
                
                    <textarea placeholder="Write a something here" class="name-a" name="textarea" autocomplete="off"></textarea>
                </div>

                

                <div class="input-name">
                    <input type="submit" class="submit" value="Submit">
                </div>
               
                
            </form>
        </div>
    </div>
</body>

</html>