<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <title>signup page</title>
</head>

<body>
    <div class="container-signup">
        <h2>Signup </h2>
        <div class="form-container">
            <form action="/signup" method="post">
                <div class="input-name">
                    <i class="fa-solid fa-user lock"></i>
                    <input type="text" placeholder=" First Name" class="name" name="firstname" autocomplete="off">
                    <span>
                        <i class="fa-solid fa-user lock"></i>
                        <input type="text" placeholder=" Last Name" class="name" name="lastname" autocomplete="off">
                    </span>
                </div>
                <div class="input-name">
                    <i class="fa-solid fa-address-book lock"></i>
                    <input type="Contact" placeholder=" Contact" class="name-a" name="contact" autocomplete="off">
                </div>
                <div class="input-name">
                    <i class="fa-solid fa-envelope lock"></i>
                    <input type="email" placeholder=" Email" class="name-a" name="email" autocomplete="off">
                </div>
                <div class="input-name">
                    <i class="fa-solid fa-key lock"></i>
                    <input type="password" placeholder=" Password" class="name-a" name="password" autocomplete="off">
                </div>
                <div class="input-name">
                    <i class="fa-solid fa-key lock"></i>
                    <input type="password" placeholder=" Confirm password" class="name-a" name="cpassword" autocomplete="off">
                </div>

                <div class="input-name">
                    <input type="checkbox" class="check-btn">
                    <label>I accept the terms and conditions</label>
                </div>

                <div class="input-name">
                    <input type="submit" class="submit" value="Register">
                </div>
                <div class="input-name">
                    <h4>OR</h4>
                </div>
                <div class="input-name">
                    <a href="/login" class="div-login">Login</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>